:root {
  --main-bg-color: #dcf2f8;
  --blue-button-color: #1c98ed;
  --black-color: #000000;
  --action-left: #000000;
  --action-right: #3731ca;
  min-height: 100%;
  font-family: "alta";
}

@font-face {
  font-family: alta;
  src: url("assets/alta-regular.otf") format("opentype");
}

body {
  margin: 0.5rem 0;
  display: grid;
  text-align: center;
  background-color: var(--main-bg-color);
  position: relative;
}

#banner {
  /*vertical margin*/
  /* margin: 1rem 0; */
  margin: 1rem auto;
  margin-bottom: 0.1rem;
  padding: 0;
  max-width: 100%;
  max-height: 50vh;
}

h1,
h4 {
  color: var(--black-color);
  /*center horizontally*/
  text-align: center;
}
#content-wrap {
  padding-bottom: 4rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h4 {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  font-size: 1.2rem;
}

#user-form {
  display: grid;
  justify-content: space-around;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4rem;
}

.input-box {
  text-decoration: none;
  border-radius: 25px;
  margin: 0.5rem 0;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
}

.input-box::placeholder {
  text-align: center;
}

.blue-box {
  background-color: var(--blue-button-color);
  color: black;
}

.black-box {
  background-color: var(--black-color);
  color: white;
}
.blue-box::placeholder {
  color: black;
}
.black-box::placeholder {
  color: white;
}

/*submit*/
input[type="submit"] {
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  /*thicc font*/
  font-weight: 1000;

  /* gradient action-left to action-right*/
  background-image: linear-gradient(
    to right,
    var(--action-left),
    var(--action-right)
  );
}

.footer-icons {
  max-height: 3rem;
  background-color: transparent;
  margin: auto;
}
