:root {
  --main-bg-color: #dcf2f8;
  --blue-button-color: #1c98ed;
  --black-color: #000000;
}

body {
  margin: 0;
  display: grid;
  text-align: center;
  /*very small margin*/
  background-color: var(--main-bg-color);
}

#banner {
  height: 20vh;
}

h1,
h4 {
  font-size: auto;
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  /* padding: 1%; */
  margin: 0;
}
h1 {
  height: 10vh;
}
h4 {
  height: 10vh;
}

#user-form {
  display: grid;
  height: 50vh;
}

footer {
  background-color: var(--black-color);
  color: var(--main-bg-color);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
}

.input-box::placeholder {
  text-align: center;
}

.blue-box {
  background-color: var(--blue-button-color);
}

.black-box {
  background-color: var(--black-color);
}
.blue-box::placeholder {
  color: black;
}
.black-box::placeholder {
  color: white;
}

/*submit*/
input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.footer-icons {
  margin: 0 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--black-color);
  color: var(--main-bg-color);
}
